<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>new_person</title>
</head>
<body>
<form th:method = "POST" action = "/people" th:object="${person}">
    <label for = "name">Name: </label>
    <input type = "text" th:field = "*{name}" id ="name"/>
    <p style="color:red" if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</p>
    <br/>
    <label for="age">Age:  </label>
    <input type = "text" th:field = "*{age}" id="age"/>
    <p style="color:red" if="${#fields.hasErrors('age')}" th:errors="*{age}">Age error</p>
    <br/>
    <label for="email">Email:</label>
    <input type = "text"  th:field = "*{email}" id = "email"/>
    <p style="color:red" if ="${#fields.hasError('email')}" th:errors="*{email}">Email error</p>
    <br/>
    <input type ="submit" value = "Create"/>
</form>


</body>
</html>